# Run tempest.

{% if tempest_format == "venv" %}./tools/with_venv.sh {% endif %}./tools/run-tests.sh {{ tempest_regex }} --skip-file {{ working_dir }}/skipfile 2>&1 > ./tempest_console.log && exitval=0 || exitval=$?
subunit2html $(find {{ working_dir }}/tempest/.testrepository -name [0-9] | head -1) {{ working_dir }}/tempest/tempest.html >> ./tempest_console.log ||:
exit ${exitval}
